@import 'awsm.css/dist/awsm_theme_pearl-lusta.css';

:root {
  --red-color: #d4583b;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
